.grid {
    display: block;
}
.wide {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}
.col-1 {
    flex: 0 0 calc(100%/12);
    max-width: calc(100%/12);
}
@for $i from 1 through 12 {
    .col-#{$i} {
        flex: 0 0 calc(100%/12*#{i});
        max-width: calc(100%/12*#{i});
    }
}